.home {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  padding: 1rem;
  margin-bottom: 3rem;

  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 1s ease;
    opacity: 0.75;
    filter: grayscale(15%);

    &:hover {
      opacity: 1;
    }

    &-image {
      grid-row: 1 / 4;
      grid-column: 1 / 4;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &-title {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      font-size: 4rem;
      font-weight: normal;
      color: white;
      z-index: 10;
      text-shadow: 2px 2px 5px black;
    }
  }
}
