@import "variables";

.title-primary {
  font-size: $font-size-large;
  font-weight: normal;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.title-secondary {
  font-size: $font-size-big;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.title-tertiary {
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.title-quaternary {
  font-weight: normal;
  white-space: nowrap;
}
