@import '../../sass/mixins.styles.scss';
@import '../../sass/variables.styles.scss';

.header-navigation {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-column-gap: 4rem;
    height: 100%;
    align-content: center;
  }

  &__item {
    justify-self: start;
    font-size: $medium-font-size;
    list-style: none;
    padding: 1rem;
    a:link,
    a:visited {
      text-decoration: none;
      color: black;
    }
  }
}
