@import '../../sass/mixins.styles.scss';
@import '../../sass/variables.styles.scss';

.header-navigation {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-column-gap: 2rem;
    height: 100%;
    align-content: center;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__list-mobile {
    display: flex;

    &--active {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 2rem;
    }
  }

  &__item {
    justify-self: start;
    font-size: $medium-font-size;
    list-style: none;
    padding: 1rem;
    a:link,
    a:visited {
      text-decoration: none;
      color: black;
    }
  }
}
