@import "../../sass/variables";

.header-menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  svg {
    margin-left: 4rem;
    font-size: $font-size-big;
    cursor: pointer;

    &:hover {
      color: $color-dark-grey;
    }
  }
}
