@import "../../sass/variables";

.sidebar-header {
  display: flex;
  justify-content: space-between;
  background-color: $color-milk;
  border-bottom: 1px solid $color-black-border;

  h3 {
    padding: 1rem 1.5rem 0.75rem;
  }

  &__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.25rem;
    border: none;
    border-left: 1px solid $color-black-border;
    background-color: inherit;
    color: $color-light-grey;
    cursor: pointer;
    font-size: $font-size-medium;

    &:hover {
      color: $color-grey;
    }

    svg {
      transform: rotate(45deg);
      font-size: $font-size-default;
    }
  }
}
