@import "../../sass/variables";
@import "../../sass/mixins";

.shops-actions {
  display: flex;
  width: 100%;
  padding: 2rem 3rem;
  margin-bottom: 1rem;
  background-color: $color-milk;

  @include respond(mobile) {
    flex-direction: column;
  }

  &__element {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    height: 100%;
    margin-right: 2rem;

    @include respond(mobile) {
      flex-direction: column;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    label {
      font-size: $font-size-small;
      color: $color-light-grey;
    }

    input {
      border: none;
      padding: 0.5rem 0;
      font-size: $font-size-medium;
      font-family: inherit;
      background-color: transparent;
      border-bottom: 1px solid $color-dark-milk;
      transition: all 0.5s ease-in;
      outline: none;

      &:focus {
        border-bottom: 1px solid $color-grey;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
      }
    }

    select {
      min-width: 20rem;
      border: none;
      padding: 0.5rem 0;
      font-size: $font-size-medium;
      font-family: inherit;
      color: $color-grey;
      background-color: transparent;
      border-bottom: 1px solid $color-dark-milk;
      transition: all 0.5s ease-in;
      outline: none;
      transform: translateX(-2px);
      cursor: pointer;

      &:focus {
        border-bottom: 1px solid $color-grey;
      }
    }
  }
}
