@import '../../sass/mixins.styles.scss';
@import '../../sass/variables.styles.scss';

.checkout-header {
  display: grid;
  grid-template-columns: 1.2fr 1fr repeat(5, 0.5fr) 0.3fr;
  grid-column-gap: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__item {
    white-space: nowrap;
  }
}
