@import "../../sass/variables.scss";

.color-item {
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;

  &--beige {
    background-color: $coat-color-beige;
  }
  &--light-beige {
    background-color: $coat-color-light-beige;
  }
  &--grey {
    background-color: $coat-color-grey;
  }
  &--black {
    background-color: $coat-color-black;
  }
  &--dark-blue {
    background-color: $coat-color-dark-blue;
  }
  &--dark-green {
    background-color: $coat-color-dark-green;
  }
  &--turquoise {
    background-color: $coat-color-turquoiser;
  }
  &--milk {
    background-color: $coat-color-milk;
  }
}
