@import '../../sass/mixins.styles.scss';
@import '../../sass/variables.styles.scss';

.header {
  height: 10rem;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 3rem;
  background-color: white;

  @media only screen and (max-width: $bp-medium) {
    height: 8rem;
  }

  @include backgroundBlur();

  &__title {
    font-size: $large-font-size;
    font-weight: normal;
    justify-self: center;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    align-self: center;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }

    &--small {
      display: none;
      font-size: $large-font-size;
      font-weight: normal;
      justify-self: center;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      white-space: nowrap;
      align-self: center;

      @media only screen and (max-width: $bp-small) {
        display: block;
      }
    }
  }
}
