@import "../../sass/variables";
@import "../../sass/animations";

.loading {
  grid-column: 1 / -1;
  width: 100%;
  min-height: 64vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-grey;

  img {
    animation: spin 1s linear infinite;
    margin-bottom: 2rem;
  }
}
