@import "../../sass/variables";
@import "../../sass/mixins";

.footer {
  padding: 4rem 5rem;
  width: 100%;
  background-color: $color-milk;
  color: $color-grey;

  @include respond(mobile) {
    padding: 3rem;
  }
}
