@import "../../sass/variables";

.color-picker {
  display: flex;

  &__color-background {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin: 1rem 0.3rem 1rem 0;
    cursor: pointer;

    &--active {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}
