@import '../../sass/mixins.styles.scss';
@import '../../sass/variables.styles.scss';

.cart-item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2rem;
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__photo {
    height: auto;
    width: 10vw;
    display: block;
    object-fit: cover;
    grid-row: 1 / -1;
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__item-name {
    font-size: $medium-font-size;
    white-space: nowrap;
    margin-bottom: 0.5rem;
  }

  &__text {
    color: #777;
    margin-bottom: 0.5rem;
  }

  &__color {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    margin: 0 0.5rem;

    &-container {
      display: flex;
      align-items: center;
    }
    @include colors();
  }

  &__btn {
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 0.5rem;
    cursor: pointer;
  }

  &__delete-btn {
    margin-top: auto;
    align-self: flex-end;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
}
